# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
out/
dist/

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env*.local
.env.production

# next.js
.next/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
uploads/*
!uploads/.gitkeep
frontend/public/ITEMS_PagWeb_SVG_ConocerMas/
*.ai
*.zip
